<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Data AVDS">
    <meta name="author" content="Aboze Brain">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Data AVDS</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="about" style="margin-top:100px;">
            <div class="row">
                <div class="col-md-12">
                    <h1>Data AVDS</h1>
                    <h2>Project: Prediksi Rumah di Bali</h2>
                    <p>Disini aku masih buat grafik untuk backendnya dalam bentuk statis jadinya langsung ambil data dan diolah di controller dan di js.</p>
                    <p>Untuk dinamisnya tinggal atur parameternya saja ya... Aku lagi malas banget soalnya. Aku cuma nyiapin kasarannya aja.:) 
                    </p>
                    <p>Supported by : gitaa.backendDevPragma@gitlab.com</p>
                </div>
            </div>
            <div class="row" style="margin-top:40px">
                <div class="col-md-12">
                    <h3 style="text-align:center;font-weight:bolder;">Prediction</h3>
                    <form action="{{ url_for('predict')}}" method="post">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="kamar_tidur">Kamar Tidur</label>
                                <input type="number" name="kamar_tidur" class="form-control" id="kamar_tidur"
                                    placeholder="Insert Bedroom Range (1 - 20)" min="1" max="20"
                                    required="required">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="kamar_mandi">Kamar Mandi</label>
                                <input type="number" name="kamar_mandi" class="form-control" id="kamar_mandi"
                                    placeholder="Insert Bathroom Range (1 - 10)" min="1" max="10"
                                    required="required">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="luas_bangunan">Luas Bangunan</label>
                                <input type="number" name="luas_bangunan" class="form-control" id="luas_bangunan"
                                    placeholder="Insert Building Area Range (20 - 200) m2" min="20" max="200"
                                    required="required">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="luas_tanah">Luas Tanah</label>
                                <input type="number" name="luas_tanah" class="form-control" id="luas_tanah"
                                    placeholder="Insert Surface Area Range (30 - 250) m2" min="30" max="250"
                                    required="required">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="jmlh_lantai">Jumlah Lantai</label>
                                <input type="number" name="jmlh_lantai" class="form-control" id="jmlh_lantai"
                                    placeholder="Insert Floor Range (1 - 5) m2" min="1" max="5"
                                    required="required">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="kabupaten">Kabupaten</label>
                                <select name="kabupaten" class="form-control" id="kabupaten" required="required">
                                    <option value="">Pilih Kabupaten</option>
                                    <option value="buleleng">buleleng</option>
                                    <option value="karangasem">karangasem</option>
                                    <option value="gianyar">gianyar</option>
                                    <option value="badung">badung</option>
                                    <option value="tabanan">tabanan</option>
                                    <option value="jembrana">jembrana</option>
                                    <option value="bangli">bangli</option>
                                    <option value="denpasar">denpasar</option>
                                </select>
                            </div>
                        </div>
                        <div class="card text-center">
                            <div class="card-header bg-dark text-white font-weight-bold">
                                Hasil Prediksi 
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{ prediction_text }}</p>
                            </div>
                        </div>
                        <div class="col-lg-12 text-center mt-3 mb-5">
                            <div id="success"></div>
                            <button class="btn btn-info" type="submit">Prediksi</button>
                        </div>
                        <table class="house-table">
                            <thead>
                                <tr>
                                    <th>Judul</th>
                                    <th>Harga</th>
                                    <th>Alamat</th>
                                    <th>Parkir Motor</th>
                                    <th>Kamar Tidur</th>
                                    <th>Kamar Mandi</th>
                                    <th>Jumlah Lantai</th>
                                    <th>Luas Bangunan</th>
                                    <th>Luas Tanah</th>
                                    <th>Kabupaten</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for index, row in value.iterrows() %}
                                <tr>
                                    <td>{{ row['title'] }}</td>
                                    <td>{{ row['harga'] }}</td>
                                    <td>{{ row['alamat'] }}</td>
                                    <td>{{ row['parkir_motor'] }}</td>
                                    <td>{{ row['kamar_tidur'] }}</td>
                                    <td>{{ row['kamar_mandi'] }}</td>
                                    <td>{{ row['jmlh_lantai'] }}</td>
                                    <td>{{ row['luas_bangunan'] }}</td>
                                    <td>{{ row['luas_tanah'] }}</td>
                                    <td>{{ row['kabupaten'] }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </form>
                </div>
                
            </div>
            <div class="row" style="margin-top:40px;">
                <div class="col-md-12">
                    <h4 class="text-center">Visualisasi Heatmap</h4>
                    {{ df }}
                    <div id="heatmap" style="text-align:center; justify-content:center; align-items:center;"></div>
                </div>
            </div>
            <div class="row" style="margin-top:40px;">  
                <div class="col-md-6">
                    <h4>Visualisasi Data Scatter Plot (Luas Bangunan)</h4>
                    {{ df }}
                    <div id="scatterPlotLB"></div>
                </div>
                <div class="col-md-6">
                    <h4>Visualisasi Data Scatter Plot (Luas Tanah)</h4>
                    {{ df }}
                    <div id="scatterPlotLT"></div>
                </div>
            </div>
            <div class="row" style="margin-top:40px;">  
                <div class="col-md-12">
                    <h4>Visualisasi Data Horizontal Lolipop Chart</h4>
                    {{ df }}
                    <div id="lolipopchart"></div>
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script>
        const heatmap = "{{ url_for('get_heatmap_data') }}";
        const scatterplotDataLBUrl = "{{ url_for('get_scatterplot_dataLB') }}";
        const scatterplotDataLTUrl = "{{ url_for('get_scatterplot_dataLT') }}";
        const lolipopChartDataUrl = "{{ url_for('get_lolipopchart_data') }}";
    </script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>